@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Thin\ 250.otf');
    font-weight: 250;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Light\ 300.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Regular\ 400.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Medium\ 500.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ SemiBold\ 600.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Bold\ 700.otf');
    font-weight: 700;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}