@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Thin\ 250.otf');
    font-weight: 250;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Light\ 300.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Regular\ 400.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Medium\ 500.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ SemiBold\ 600.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Bold\ 700.otf');
    font-weight: 700;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'montserrat-arabic';
    /* background-color: #FAFAFA !important; */
    background-color: white !important;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    position: fixed;
    /* Make the nav fixed */
    top: 0;
    /* Stick to the top of the viewport */
    left: 0;
    right: 0;
    background-color: white;
    /* Optional: Set background color so it's visible on scroll */
    z-index: 99;
    /* Ensure the nav stays on top of other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100px;
}

.logo {
    font-size: 29px;
    font-weight: 700;
}

.link {
    margin-right: 21px;
}

.link a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    color: #5b60f6;
}

.hamburger-icon {
    font-size: 32px;
}

.hamburger-icon-box {
    /* border: 1px solid black; */
    /* width: 35px; */
    /* height: 35px; */
    padding: 4px;
    border-radius: 35px;
    /* box-shadow: 0px 0px 11px -6px #000; */
}

.dropdown-menu-custom {
    display: none;
    position: absolute;
    top: 100px;
    width: 90%;
    /* right: 10px; */
    background-color: #0000007a;
    backdrop-filter: blur(5px);
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu-custom ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu-custom ul li {
    padding: 10px;
}

.dropdown-menu-custom ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    font-family: 'montserrat-arabic';
    display: block;
    font-size: 15px;
}

.dropdown-menu-custom ul li:hover {
    background-color: #444;
}

.dropdown-menu-custom.show {
    display: block;
    /* Show the menu */
}


/* Sidebar styles */
.sidebar-custom {
    position: fixed;
    top: -50px;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #FAFBFD;
    /* backdrop-filter: blur(5px); */
    /* box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5); */
    transition: all 0.3s ease;
    z-index: -1;
}

.sidebar-custom ul {
    list-style: none;
    padding: 20px 35px;
    margin: 0;
}


.sidebar-custom ul li {
    position: relative;
    padding: 10px 0px;
    border-radius: 40px;
    margin: 10px 0px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    overflow: hidden;
    /* Ensures the animation stays within bounds */
    transition: color 0.5s ease;
}

.sidebar-custom ul li::before {
    content: "";
    position: absolute;
    top: 0;
    opacity: 0;
    left: 50%;
    /* Start from the center horizontally */
    transform: translateX(-50%);
    /* Ensure centering */
    width: 0;
    /* Initially, no width */
    height: 100%;
    background-color: #4958fd;
    /* Hover background color */
    z-index: 0;
    /* transition: all 0.1s ease; Animate the width on hover */
    border-radius: 40px;
    /* Same radius as parent for smooth edges */
}

.sidebar-custom ul li a {
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
    font-family: 'montserrat-arabic';
    font-size: 16px;
    z-index: 1;
    /* Ensure text appears above the background */
    /* transition: all 0.1s ease; */
}

.sidebar-custom ul li:hover::before {
    opacity: 1;
    width: 200%;
    /* Expand to cover from center to edges */
}

.sidebar-custom ul li:hover a {
    color: white;
}

.tick-icon {
    position: absolute;
    left: 22px;
    top: 14px;
}

.menu-bar-link {
    direction: rtl;
    font-weight: 800;
    font-family: 'montserrat-arabic';
    font-size: 24px;
    color: #4f5afa;
}

.menu-last-link-box {
    text-align: center;
}

/* .sidebar-custom ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
    font-family: 'montserrat-arabic';
    font-size: 19px;
}

.sidebar-custom ul li:hover {
    background-color: #4958fd;
}

.sidebar-custom ul li:hover a {
    color: white;
} */


.sidebar-custom.show {
    top: 100px;
    opacity: 1;
    z-index: 98;
}

/* Close button */
.close-btn {
    text-align: right;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.close-btn .close-icon {
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    background-color: #4958fd;
    padding: 5px;
    border-radius: 6px;
}

#nav-icon4 {
    width: 30px;
    height: 35px;
    position: relative;
    /* margin: 50px auto; */
    margin-top: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #000000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 9px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -1px;
    left: 7px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 20px;
    left: 7px;
}

/* Overlay to detect clicks outside */
/* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.overlay.show {
    display: block;
} */

.animate__fadeInUp {
    --animate-delay: 0.6s;
}

.delay_0-6.animate__fadeInLeft {
    --animate-delay: 0.6s;
}

.first-section {
    /* padding-top: 150px; */
    overflow: hidden;
}

.empty_phone_img_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9;
    padding-top: 150px;
}

.empty_phone_img_box_wrap {
    position: relative;
}

.empty_phone_img {
    width: 150px
}

.empty_phone_gif {
    width: 140px;
    position: absolute;
    left: 5px;
    top: 20px;
}

.empty_phone_content {
    width: 114px;
    position: absolute;
    left: 18px;
    top: 143px;
}

.wave_img_box {
    position: absolute;
    top: 168px;
    z-index: -1;
}

.wave_img_box img {
    width: 100%;
}

.increase_arrow_img_box {
    position: absolute;
    top: 235px;
    left: -10px;
    z-index: -1;
}

.increase_arrow_img_box img {
    width: 91%;
}

.many_coins_img_box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -88px;
    z-index: 10;
}

.many_coins_img_box img {
    width: 181px;
}

.emoji_main_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 11;
    width: 100%;
}

.emojis_box {
    /* border: 1px solid black; */
    height: 215px;
    width: 300px;
    position: relative;
}

.emojis_box img {
    width: 100px;
}

.cool_emoji {
    position: absolute;
    right: -24px;
    top: -7px;
}

.rocket_emoji {
    position: absolute;
    right: 30px;
    bottom: -20px;
}

.securtiy_emoji {
    position: absolute;
    left: 26px;
    bottom: 15px;
}

.first-section-heading {
    font-size: 40px;
    margin: 0;
    background: transparent;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    direction: rtl;
    text-align: center;
}


.first-section-para {
    font-size: 24px;
    margin: 0;
    background: transparent;
    font-family: 'montserrat-arabic';
    font-weight: 600;
    direction: rtl;
    text-align: center;
    color: #000000;
    margin-top: 10px;
}

.first-section-content-box {
    margin-top: -173px;
    position: relative;
    z-index: 10;
}

.first-button-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.first-button-img-box img {
    width: 138px;
}

.first-section-subpara {
    font-size: 14px;
    margin: 0;
    background: transparent;
    font-family: 'montserrat-arabic';
    font-weight: 500;
    direction: rtl;
    text-align: center;
    color: #000000;
    /* margin-top: 23px; */
    /* width: 300px; */
}

.first-section-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    position: relative;
    z-index: 10;
}

.first-section-button-box button {
    direction: rtl;
    border: none;
    background-color: #4958fd;
    padding: 16px 71px;
    color: white;
    font-size: 16px;
    font-weight: 800;
    border-radius: 40px;
    box-shadow: 0px 15px 24px -16px #4958fd;
    font-family: 'montserrat-arabic';
}


.cloud-box {
    /* border: 1px solid black; */
    position: absolute;
    top: 397px;
    z-index: 10;
    overflow: hidden;
    opacity: 0.8;
}

.cloud-box img {
    width: 100%;
    margin-left: -170px;
}


.cloud-box-2 {
    position: absolute;
    top: 340px;
    z-index: 10;
    overflow: hidden;
    opacity: 0.7;
}

.cloud-box-2 img {
    width: 100%;
    margin-left: -67px;
}

.cloud-box-3 {
    position: absolute;
    top: 300px;
    z-index: 8;
    overflow: hidden;
    opacity: 1;
}

.cloud-box-3 img {
    width: 100%;
    margin-left: 119px;
}

.cloud-box-4 {
    position: absolute;
    top: 396px;
    z-index: 10;
    overflow: hidden;
    opacity: 0.5;
}

.cloud-box-4 img {
    width: 100%;
    margin-left: -94px;
}

.cloud-box-5 {
    position: absolute;
    top: 443px;
    z-index: 8;
    overflow: hidden;
    opacity: 0.8;
}

.cloud-box-5 img {
    width: 100%;
    margin-left: -36px;
}

.cloud-box-6 {
    position: absolute;
    top: 320px;
    z-index: 9;
    overflow: hidden;
    opacity: 1;
}

.cloud-box-6 img {
    width: 100%;
    margin-left: 189px;
}

.swiper-container {
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    direction: rtl;
}

.swiper-wrapper {
    display: flex;
    flex-direction: row;
}

.swiper-slide {
    height: 200px;
    position: relative;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

.swiper-slide img {
    width: 100%;
    border-radius: 20px;
}

.content-2 {
    padding: 30px 20px;
}

.content-2-heading-1 {
    font-size: 24px;
    margin: 0;
    background: transparent;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    direction: rtl;
    color: #4f5afa;
}

.content-2-heading-2 {
    font-size: 24px;
    margin: 0;
    background: transparent;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    color: black;
    direction: rtl;
    margin-top: 20px;
}

.content-2-heading-3 {
    font-size: 24px;
    margin: 0;
    background: transparent;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    direction: rtl;
    color: #4f5afa;
    margin-top: 5px;
}

.invest-card {
    padding: 0px 30px;
    margin-top: 70px;
}

.icon-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-img-box img {
    width: 60px;
}

.invest-heading {
    font-size: 24px;
    margin: 0;
    background: transparent;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    direction: rtl;
    margin-top: 5px;
    text-align: center;
    margin-top: 10px;
}

.invest-content {
    font-size: 18px;
    margin: 0;
    background: transparent;
    font-family: 'montserrat-arabic';
    font-weight: 600;
    direction: rtl;
    margin-top: 5px;
    text-align: center;
    margin-top: 20px;
}

.content-3 {
    padding: 30px 20px;
}

.content-3-heading-1 {
    font-size: 24px;
    margin: 0;
    background: transparent;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    direction: rtl;
    color: #000000;
}

.content-3-heading-2 {
    font-size: 18px;
    margin: 0;
    background: transparent;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    color: #4f5afa;
    direction: rtl;
    margin-top: 14px;
}

.content-3-heading-3 {
    font-size: 18px;
    margin: 0;
    background: transparent;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    direction: rtl;
    color: #4f5afa;
    margin-top: 5px;
}

.invest-company-cards {
    padding: 0px 30px;
    margin-top: 40px;
}

.company-logo-img-box {
    display: flex;
    justify-content: center;
}

.company-logo-img-box img {
    width: 100px;
}

.invest-company-heading {
    font-size: 24px;
    margin: 0;
    background: transparent;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    direction: rtl;
    margin-top: 5px;
    text-align: center;
    margin-top: 10px;
}

.invest-company-content {
    font-size: 15px;
    margin: 0;
    background: transparent;
    font-family: 'montserrat-arabic';
    font-weight: 600;
    direction: rtl;
    margin-top: 5px;
    text-align: center;
    margin-top: 20px;
}

.invest-company-link-box {
    text-align: center;
    margin-top: 10px;
}

.invest-company-link {
    font-size: 12px;
    margin: 0;
    background: transparent;
    font-family: 'montserrat-arabic';
    font-weight: 600;
    direction: rtl;
    margin-top: 5px;
    text-align: center;
    margin-top: 20px;
    color: #4f5afa;
}

.company-section-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    margin-top: 30px;
    position: relative;
    z-index: 9;
}

.company-section-button-box button {
    direction: rtl;
    border: none;
    background-color: #4958fd;
    padding: 16px 71px;
    color: white;
    font-size: 16px;
    font-weight: 800;
    border-radius: 40px;
    box-shadow: 0px 15px 24px -16px #4958fd;
    font-family: 'montserrat-arabic';
}

.content-card {
    margin-top: 70px;
}

.content-card h1 {
    font-size: 28px;
    margin: 0;
    background: transparent;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    direction: rtl;
    text-align: center;
}

.content-card h2 {
    font-size: 44px;
    margin: 0;
    background: transparent;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    direction: rtl;
    text-align: center;
    margin-top: 15px;
}

.content-card p {
    font-size: 24px;
    margin: 0;
    background: transparent;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    direction: rtl;
    text-align: center;
    margin-top: 10px;
}

.hidden {
    opacity: 0;
    transform: translateY(-50px);
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.down {
    opacity: 1;
    transform: translateY(50px);
}

[data-animation-fadeup] {
    opacity: 0;
    transform: translateY(var(--animation-fadeup));
    transition: transform var(--animation-duration) ease-out, opacity var(--animation-duration);
}

.animated {
    opacity: 1;
    transform: translateY(0);
}

.counting-number {
    font-size: 44px;
    position: relative;
    transition: transform 0.2s ease, opacity 0s ease;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-weight: 800;
    font-family: 'montserrat-arabic';
    margin-top: 10px;
}

.counting-number span {
    transition: transform 0.2s ease, opacity 0s ease;
}

.company-section {
    overflow: hidden;
}

.company-section h1 {
    direction: rtl;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    font-size: 38px;
    text-align: center;
    margin: 35px 0px
}

.company-section img {
    width: 100%;
}

.car-section {
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

.car-section img {
    width: 174%;
}

.car-black,
.car-pink,
.car-white {
    transform: translateX(-30px);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.car-black.animated,
.car-pink.animated,
.car-white.animated {
    transform: translateX(0);
    opacity: 1;
}

.first-car-3-cars-section-box {
    position: relative;
    z-index: 9;
    left: -26%;
}

.second-car-3-cars-section-box {
    position: relative;
    z-index: 7;
    left: -22%;
    /* margin-left: -53%; */
}

.third-car-3-cars-section-box {
    position: relative;
    z-index: 5;
    left: -14%;
    /* margin-left: -27%; */
}

.black-car-glow {
    position: absolute;
    z-index: 10;
    top: -66%;
    left: -65%;
    width: 100% !important;
}

.pink-car-glow {
    position: absolute;
    z-index: 8;
    top: -66%;
    left: -33%;
    width: 100% !important;
}

.white-car-glow {
    position: absolute;
    z-index: 6;
    top: -66%;
    left: 10%;
    width: 100% !important;
}

.location-phone-box img {
    width: 100%;
}

.tick-button-img-box {
    display: flex;
    justify-content: center;
    margin-top: -68px;

}

.tick-button-img-box img {
    width: 31%;
}

.last-text-box {
    margin-top: 30px;
}

.last-text-box h1 {
    direction: rtl;
    text-align: center;
    margin: 0;
    font-weight: 800;
    font-family: 'montserrat-arabic';
    font-size: 25px;
}

.IMG {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.IMG img {
    width: 110px;
    position: relative;
}

.last-button-box {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.last-button-box button {
    direction: rtl;
    border: none;
    background-color: #4958fd;
    padding: 11px 40px;
    color: white;
    font-size: 18px;
    border-radius: 40px;
    box-shadow: 0px 4px 7px -1px #4958fd;
    font-family: 'montserrat-arabic';
    font-weight: 800;
}


.fifth-section {
    margin-top: 70px;
}

.fifth-section h1 {
    direction: rtl;
    text-align: center;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    font-size: 38px;
}

.fifth-section p {
    direction: rtl;
    text-align: center;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    font-size: 14px;
    color: #d9d9d9;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.security-tick {
    width: 20px !important;
    margin-right: 8px;
}

.fifth-section img {
    width: 100%;
}

.first-line,
.second-line {
    text-align: center;
}

.first-line img {
    width: 79%;
    margin-top: 10px;
}

.second-line img {
    width: 69%;
    margin-top: 25px;
}

.horizontal-line-box {
    display: flex;
    justify-content: center;
}

.horizontal-line {
    width: 80%;
    height: 2px;
    background-color: #f4f4f4;
    margin: 70px 0px 35px 0px;
}

.fifth-heading-final-text {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.fifth-heading-contact {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.fifth-heading-number {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


.fifth-heading-final-text p {
    direction: rtl;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    font-size: 14px;
    color: black;
}

.fifth-heading-contact p {
    direction: rtl;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    font-size: 14px;
    color: black;
}

.fifth-heading-number p {
    direction: ltr;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    font-size: 14px;
    color: black;
}

.copyright-symbol {
    font-family: 'montserrat-arabic';
    font-weight: 800;
    font-size: 25px;
    margin-top: -18px;

}

.fifth-section-contact-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 65px;
}

.fifth-section-contact-icons img {
    width: 70px;
}