@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Thin\ 250.otf');
    font-weight: 250;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Light\ 300.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Regular\ 400.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Medium\ 500.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ SemiBold\ 600.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Bold\ 700.otf');
    font-weight: 700;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.top-img-box {
    position: relative;
}

.top-img-box img {
    width: 100%;
    border-radius: 0px 0px 20px 20px;
}

.content {
    padding: 20px;
}

.content h1 {
    font-family: 'montserrat-arabic';
    direction: rtl;
    font-weight: 800;
}

.content p {
    font-family: 'montserrat-arabic';
    direction: rtl;
    font-weight: 600;
}

.blue {
    color: #4f5afa !important;
}

.contact-number-box {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.country-code {
    background-color: #fafbfd;
    padding: 15px 10px;
    border-radius: 15px;
    display: flex;
    font-weight: 800;
    font-family: 'montserrat-arabic';
    gap: 5px;
    font-size: 20px;
    align-items: center;
}

.country-code div {
    width: 36px;
    margin-top: -3px;
}

.country-code div img {
    width: 100%;
    border-radius: 4px;
}

.number input {
    border: none;
    background-color: #fafbfd;
    border-radius: 15px;
    padding: 15px 13px;
    font-size: 20px;
    width: 207px;
    font-weight: 800;
    font-family: 'montserrat-arabic';
}

.number input::placeholder {
    color: #d9d9d9;
    opacity: 1;
}

.number input:focus {
    outline: none;
}

.final-text-box {
    text-align: center;
    margin-top: 40px;
}

.final-text-box p {
    font-weight: 600;
    font-family: 'montserrat-arabic';
    font-size: 12px;
    color: #b8b8b8;
}