@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Thin\ 250.otf');
    font-weight: 250;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Light\ 300.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Regular\ 400.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Medium\ 500.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ SemiBold\ 600.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'montserrat-arabic';
    src: url('../font/Montserrat-Arabic\ Bold\ 700.otf');
    font-weight: 700;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fafbfd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-section {}

.pin-heading h1 {
    font-family: 'montserrat-arabic';
    direction: rtl;
    font-weight: 800;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.pin-boxes {
    display: flex;
    gap: 10px;
    margin-top: 50px;
    justify-content: center;
}

.pin-box {
    width: 20px;
    height: 20px;
    border: 2px solid #4a5bff;
    border-radius: 16px;
}


.pin-box.filled {
    background-color: #4a5bff; /* Light green when filled */
}

.pin-box.empty {
    background-color: #ffffff; /* White for empty boxes */
}


.keypad {
    display: flex;
    flex-direction: column;
    width: 288px;
    margin-top: 50px;
}

.keypad-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.keypad-num {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 35px;
    cursor: pointer;
    font-family: 'montserrat-arabic';
    font-weight: 800;
    color: #4a5bff;
    border-radius: 50px;
    transition: background-color 0.3s;
}


.keypad-num.empty {
    visibility: hidden;
}

.keypad-num.remove {
    font-size: 40px;
}